@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header{
    display: flex;
    background-color: #6495ed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

main{
    margin-top:60px;
}

header-inner{
    max-width: 1200px;
}

/*Logo img */
.logo{
    max-width: 40px;
    height: auto;
    cursor: pointer;
}

#categoriesMenu{
    display: none;
    position: absolute;
    left: 15px;
    background: white;
    top: calc(100% + 16px);
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

#categoriesMenu li {
    margin: 5px 0;
    display: block;
}

#categoriesMenu a {
    text-decoration: none;
    color: #000;
}

#categoriesMenu a:hover{
    color: grey;
}

.search_icon{
    max-width: 20px;
    height: auto;
    display: block;
}

li, a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

/* Navegation Bar links */
.navegation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegation li{
    display: inline-block;
    padding: 0px 15px;
}

.navegation li a:hover{
    color: antiquewhite;
}

/* Search Bar */
.searchbox{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 3px;
}

.searchbox input{
    padding: 5px 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.searchbox button{
    padding: 4px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
}

/*automatically add new columns with min 200px and max 1fr */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid.detail-mode{
    grid-template-columns: repeat(2, 1fr);
}

.detail-mode img{
    width: 100%;
    height: 300px;
    object-fit:contain;
    border: 1px solid grey;
}

.card{
    background: white;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 3px;
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover{
    color:#6495ed;
    cursor: pointer;
}