@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    display: flex;
    background-color: #6495ed;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

header li,
a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header-inner {
    max-width: 1200px;
}

main {
    padding-top: 60px;
}

/*logo img */
.logo {
    max-width: 40px;
    height: auto;
    cursor: pointer;
}

/*categories menu */
#categoriesMenu {
    display: none;
    position: absolute;
    left: 15px;
    background: white;
    top: calc(100% + 16px);
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

#categoriesMenu li {
    margin: 5px 0;
    display: block;
}

#categoriesMenu a {
    text-decoration: none;
    color: #000;
}

#categoriesMenu a:hover {
    color: grey;
}

.search_icon {
    max-width: 20px;
    height: auto;
    display: block;
}

/* navegation bar links */
.navegation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navegation li {
    display: inline-block;
    padding: 0px 15px;
}

.navegation li a:hover {
    color: antiquewhite;
}

/* search bar */
.searchbox {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 3px;
}

.searchbox input {
    padding: 5px 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.searchbox button {
    padding: 4px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
}

/*automatically add new columns with min 200px and max 1fr */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* about page */
.container.about {
    display: flex;
    font-size: 14px;
}

.container.about p {
    font-weight: 100;
}

/*selected product*/
.container.detail-mode {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    padding: 30px;
}

.detail-mode img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    padding: 30px;
}

.detail-mode-info {
    font-size: 20px;
    padding: 50px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 30px;
}

.detail-mode-title {
    font-weight: 600;
}

.detail-mode-price {
    font-size: 30px;
}

.detail-mode-button {
    display: block;
    margin: auto;
    background-color: #6495ed;
    color: white;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.detail-mode-button:hover {
    background-color: rgb(40, 40, 212);
    cursor: pointer;
}

/*product card */
.card {
    background: white;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 3px;
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    color: #6495ed;
    cursor: pointer;
}

/* login and create account page */
.container.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.form label {
    display: block;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 4px;
}

.container.form input {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

.formbutton {
    background-color: #6495ed;
    color: white;
    width: 260px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-top: 18px;
    margin-bottom: 0;
}

.formbutton:hover {
    background-color: rgb(40, 40, 212);
    cursor: pointer;
}

.formTitle {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* create account button */
.greenButton{
    background-color: rgb(30, 204, 30);
    color: white;
    width: 260px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-top: 18px;
}

.greenButton:hover{
    background-color: rgb(12, 157, 12);
    cursor: pointer;
}